body {
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
    margin: 0;
    font: 300 16px/30px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
h1 {
  color: #293f50;
}

h3{
    color: #293f50;
}

a {
	/* Typography Declerations */
	font-weight: bold;
	color: #E35C56;
}

a:hover {
	/* Tyopography Declarations */
	color: #B2C8D6;
}
::selection{
  background-color: #E35C56;
}
.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.masthead {
    padding: 6em 0;
    text-align: center;
    //background:#293f50;
    background-image: url('../images/keithdouglas-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    //border-top: solid 1em #B2C8D6;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-size: 2em;
    color:#293f50;
}

.masthead-heading {
    margin-top: 0.2em;
    font-weight: bold;
    font-size: 4em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color:#293f50;
  	text-shadow: 0px 3px 0px #E35C56;
}
.introduction-section > p,
.location-section > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}
.questions-section > h2 {
    /* Typography Declarations */
    font-size: 1.2em;
    font-weight: bold;
}
 .portfolio{
   text-align: center;
 }

 .projects > li{
  display: inline-block;
  margin: 2.5rem;  
 }

.projects li a{
    text-decoration: none;
}
 .portfolio h2{
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size:3rem;
  font-weight: 400;
  color:black;
}

.caption h3{
  line-height: 3rem;
  font-size:1.2rem;
  color: black;
  letter-spacing: 0.03em;
  font-weight: 500;
}


.content-footer > p,
.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.social > li {
  display: inline-block;
  color: #B2C8D6;
  margin-right: 1em;
}

.content-footer > p {
  /* Typography declarations*/
    color: white;
}

.content-footer{
	/* Layout Declarations */
	margin-top: 5em;
	padding: 4em 0;
	/* Appearance Rules */
	background-color: #594F49;
  padding-left:0;
}
/*
============================
Media Queries
============================
*/

@media only screen and (max-width: 500px){
    .masthead-heading {
        font-size: 3em;
    }
    .masthead-intro{
      display: none;
    }.masthead{
       padding: 3em 0; 
    }
    .introduction-section,
    .location-section,
    .questions-section {
      text-align: center;
      margin:0 20px;
}

